body.menu {
  background: #f1faee;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
}

header {
  background-color: #e63946;
  color: white;
  padding: 20px;
  text-align: center;
}

header nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

header nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
}

section h2 {
  color: #1d3557;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
  background: #f1faee;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

ul li:hover {
  background-color: #a8dadc;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #1d3557;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
